.cabinet-orders {
  padding-top: 15px;
  @include tablets {
    padding-top: 0;
  }

  &__year {
    color: #47698e;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    padding-right: 45px;
    margin-bottom: 30px;
    @include phones {
        flex-wrap: wrap;
      padding-right: 0;
    }
  }

  &__top-column {
    flex-grow: 1;
    @include phones {
        width: 100%;
    }

    &_pos_1 {
      padding-top: 15px;
      @include tablets {
        padding-top: 0;
        margin-bottom: 20px;
      }
    }

    &_pos_2 {
      max-width: 300px;
      padding-left: 80px;
      flex-basis: 160px;
      @include desktop {
        padding-left: 40px;
      }
      @include laptop {
        padding-left: 20px;
      }
    }
  }

  &__top-item {
    margin-left: 5px;
  }

  &__top-item {
    margin-bottom: 20px;
  }

  &__top-item,
  &__item {
    position: relative;

    &_status_in-work .cabinet-orders__info:before {
      background-color: #00caff;
    }

    &_status_done .cabinet-orders__info:before {
      background-color: #d0ec59;
    }

    &_status_cancel .cabinet-orders__info:before {
      background-color: #c02038;
    }
  }

  &__top-price-wrap {
    text-align: center;
  }

  &__top-price {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
  }

  &__top-price-text {
    margin-bottom: 20px;
  }

  &__price-wrap {
    text-align: center;
  }

  &__price {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    color: #767676;
    white-space: nowrap;
    @include phones {
      font-size: 20px;
    }
  }

  &__price-text {
    color: #585858;

    font-size: 13px;
    font-weight: 400;
  }

  &__info {
    padding-left: 20px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #00caff;
      border-radius: 50%;
    }
  }

  &__inner-wrap {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
  }

  &__number {
    margin-right: 3px;
    text-decoration: underline;
    color: #000000;
  }

  &__status {
    color: #585858;
    font-size: 13px;
    font-weight: 400;
  }

  &__date {
  }

  &__status {
  }

  &__top-list {
    //padding-top: 15px;
  }

  &__top-row {
    display: flex;
    align-items: center;
    padding: 4px 28px 4px 36px;
    justify-content: space-between;
    margin-bottom: 3px;

    &:nth-child(even) {
      background-color: #f7f7f7;
    }
  }

  &__top-item-column {
    &_pos_1 {
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      padding-right: 15px;
    }

    &_pos_2 {
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  &__top-row {
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding: 14px 0 12px 27px;
    margin-bottom: 9px;
    @include phones {
      padding-left: 15px;
    }
  }

  &__column {
    &_pos_1 {
    }

    &_pos_2 {
      display: flex;
      align-items: center;
    }
  }

  &__arrow {
    padding-left: 35px;
    padding-right: 10px;
    @include phones {
      padding-left: 10px;
    }
  }


}