.main-checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  text-align: left;
  margin: 0;

  &__default {
    width: 1px;
    height: 1px;
    position: relative;
    top: 6px;
    left: 6px;
    opacity: 0;
  }

  &__pseudo {
    position: relative;
    background-color: transparent;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid #767676;
  }

  &__pseudo:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #767676;
    opacity: 0;
  }

  &__default:checked + .main-checkbox__pseudo:before {
    opacity: 1;
    transform: scale(1);
  }

  &__text {
    flex-basis: 100px;
    flex-grow: 1;
    line-height: 16px;
    color: #767676;
    font-size: 14px;
    font-weight: 400;
  }
}


