extend include/template_base


include include/blocks/cabinet-personal-data


block variables
	-
		var title = 'Лэндинг';

block content
	.main-container
		.all-title
			| Редактирование личных данных
		.all-subtitle
			| Здравствуйте, &#32;
			b Максим
			|, добро пожаловать в ваш личный кабинет.
	+cabinet-personal-data()
