
mixin cabinet-reg-list()
	.cabinet-reg-list&attributes(attributes)
		.cabinet-reg-list__wrap
			.cabinet-reg-list__item.cabinet-reg-list__item_status_in-work
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_1
					.cabinet-reg-list__inner-wrap
						a(href="#").cabinet-reg-list__number № 2342
						span.cabinet-reg-list__date от 30.06.2020
					.cabinet-reg-list__status в обработке
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_2
					.cabinet-reg-list__price 4350 ₽

			.cabinet-reg-list__item.cabinet-reg-list__item_status_done
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_1
					.cabinet-reg-list__inner-wrap
						a(href="#").cabinet-reg-list__number № 234535
						span.cabinet-reg-list__date от 12.03.2020
					.cabinet-reg-list__status выполнен
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_2
					.cabinet-reg-list__price 214000 ₽

			.cabinet-reg-list__item.cabinet-reg-list__item_status_cancel
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_1
					.cabinet-reg-list__inner-wrap
						a(href="#").cabinet-reg-list__number № 123
						span.cabinet-reg-list__date от 30.06.2020
					.cabinet-reg-list__status отменен
				.cabinet-reg-list__column.cabinet-reg-list__column_pos_2
					.cabinet-reg-list__price 2141 ₽
