mixin cabinet-reg-data()
	.cabinet-reg-data&attributes(attributes)
		.cabinet-reg-data__title-wrap
			.cabinet-reg-data__mainn-title Личные данные
			.cabinet-reg-data__btn-wrap
				a(href="#").cabinet-reg-data__btn.main-btn-grey Редактировать
		.cabinet-reg-data__wrap
			.cabinet-reg-data__list
				.cabinet-reg-data__item
					.cabinet-reg-data__title Максим Констатиновский
					.cabinet-reg-data__subtitle Имя
				.cabinet-reg-data__item
					.cabinet-reg-data__title ieafrrr1984@gmail.com
					.cabinet-reg-data__subtitle Логин
