
mixin cabinet-orders()
	.cabinet-orders&attributes(attributes)
		.cabinet-orders__container.main-container
			.cabinet-orders__year 2020
			.cabinet-orders__top
				.cabinet-orders__top-column.cabinet-orders__top-column_pos_1
					.cabinet-orders__top-item
						.cabinet-orders__info
							.cabinet-orders__inner-wrap
								a(href="#").cabinet-orders__number № 2342
								span.cabinet-orders__date от 30.06.2020
							.cabinet-orders__status в обработке
					.cabinet-orders__top-list
						.cabinet-orders__top-row
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_1
								| Синий плательно-блузочный креп-жоржет в горох Ungaro 0219/246
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_2
								| 3,2 м
						.cabinet-orders__top-row
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_1
								| Плательный хлопок шитье белого цвета с цветочным принтом Blumarine 0419/50
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_2
								| 10 м
						.cabinet-orders__top-row
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_1
								| Плательно-блузочный розовый шифон крэш с крупным абстрактным рисунком 111
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_2
								| 3,2 м
						.cabinet-orders__top-row
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_1
								| Плательный хлопок шитье белого цвета с цветочным принтом Blumarine 0419/50
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_2
								| 10 м
						.cabinet-orders__top-row
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_1
								| Плательно-блузочный розовый шифон крэш с крупным абстрактным рисунком 111
							.cabinet-orders__top-item-column.cabinet-orders__top-item-column_pos_2
								| 3,2 м
				.cabinet-orders__top-column.cabinet-orders__top-column_pos_2
					.cabinet-orders__top-price-wrap
						.cabinet-orders__top-price 4350 ₽
						.cabinet-orders__top-price-text ждет оплаты
					a(href="#").cabinet-orders__btn.main-btn Оплатить
			.cabinet-orders__list
				a(href="#").cabinet-orders__item.cabinet-orders__item_status_done
					.cabinet-orders__column.cabinet-orders__column_pos_1
						.cabinet-orders__info.cabinet-orders__info_color_1
							.cabinet-orders__inner-wrap
								span.cabinet-orders__number № 2342
								span.cabinet-orders__date от 30.06.2020
							.cabinet-orders__status в обработке
					.cabinet-orders__column.cabinet-orders__column_pos_2
						.cabinet-orders__price-wrap
							.cabinet-orders__price 214 000 ₽
							.cabinet-orders__price-text оплачен
						.cabinet-orders__arrow
							img(src="assets/img/cabinet-arrow.svg", alt='')
				a(href="#").cabinet-orders__item.cabinet-orders__item_status_cancel
					.cabinet-orders__column.cabinet-orders__column_pos_1
						.cabinet-orders__info.cabinet-orders__info_color_1
							.cabinet-orders__inner-wrap
								span.cabinet-orders__number № 2342
								span.cabinet-orders__date от 30.06.2020
							.cabinet-orders__status в обработке
					.cabinet-orders__column.cabinet-orders__column_pos_2
						.cabinet-orders__price-wrap
							.cabinet-orders__price 2 000 ₽
							.cabinet-orders__price-text не оплачен
						.cabinet-orders__arrow
							img(src="assets/img/cabinet-arrow.svg", alt='')
				a(href="#").cabinet-orders__item.cabinet-orders__item_status_done
					.cabinet-orders__column.cabinet-orders__column_pos_1
						.cabinet-orders__info.cabinet-orders__info_color_1
							.cabinet-orders__inner-wrap
								span.cabinet-orders__number № 2342
								span.cabinet-orders__date от 30.06.2020
							.cabinet-orders__status в обработке
					.cabinet-orders__column.cabinet-orders__column_pos_2
						.cabinet-orders__price-wrap
							.cabinet-orders__price 3 000 ₽
							.cabinet-orders__price-text оплачен
						.cabinet-orders__arrow
							img(src="assets/img/cabinet-arrow.svg", alt='')




