mixin cabinet-reg-personal()
	.cabinet-reg-personal&attributes(attributes)
		.cabinet-reg-personal__mainn-title Персональное предложение
		.cabinet-reg-personal__wrap
			.cabinet-reg-personal__column.cabinet-reg-personal__column_pos_1
				.cabinet-reg-personal__img-box
					img.cabinet-reg-personal__img(src="assets/img/cabinet-reg-presonal_1.jpg", alt='')
			.cabinet-reg-personal__column.cabinet-reg-personal__column_pos_2
				.cabinet-reg-personal__title Белый плательно-блузочный крэш-шифон с розами Emanuel Ungaro 0720/7
				.cabinet-reg-personal__old-price 3500 ₽/м
				.cabinet-reg-personal__bottom
					.cabinet-reg-personal__bottom-column.cabinet-reg-personal__bottom-column_pos_1
						.cabinet-reg-personal__price 2400 ₽/м
					.cabinet-reg-personal__bottom-column.cabinet-reg-personal__bottom-column_pos_2
						.cabinet-reg-personal__btn-wrap
							a(href="#").cabinet-reg-personal__btn.main-btn.main-btn_blue Купить