mixin s-buttons(data)
	.s-buttons&attributes(attributes)
		.s-buttons__title через аккаунт в социальной сети
		.s-buttons__wrap
			a(href="#").s-buttons__item.s-buttons__item_mod_tw
				img.s-buttons__img(src="assets/img/s-icon-tw.svg", alt='')
			a(href="#").s-buttons__item.s-buttons__item_mod_fb
				img.s-buttons__img(src="assets/img/s-icon-fb.svg", alt='')
			a(href="#").s-buttons__item.s-buttons__item_mod_vk
				img.s-buttons__img(src="assets/img/s-icon-vk.svg", alt='')
			a(href="#").s-buttons__item.s-buttons__item_mod_ok
				img.s-buttons__img(src="assets/img/s-icon-ok.svg", alt='')
			a(href="#").s-buttons__item.s-buttons__item_mod_ya
				img.s-buttons__img(src="assets/img/s-icon-ya.svg", alt='')
